<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EuDiretoService.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
        <section name="oracle.manageddataaccess.client"
            type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EuDiretoService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <EuDiretoService.Properties.Settings>
            <setting name="min_subida_produtos" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RegiaoTblPreco" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="codfilial" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="debugmode" serializeAs="String">
                <value>True</value>
            </setting>
        </EuDiretoService.Properties.Settings>
    </applicationSettings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
    <userSettings>
        <EuDiretoService.Properties.Settings>
            <setting name="vendorid" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>ruggeri.barbosa@viacerta.com.br</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>xHH68G08z5631H0d4564Q9V1P6W8u54a</value>
            </setting>
            <setting name="ambiente_api" serializeAs="String">
                <value>eudireto.com/eudireto_dev</value>
            </setting>
            <setting name="db_host" serializeAs="String">
                <value>viacerta.ddns.net</value>
            </setting>
            <setting name="db_port" serializeAs="String">
                <value>8016</value>
            </setting>
            <setting name="db_service_name" serializeAs="String">
                <value>WINT</value>
            </setting>
            <setting name="db_user" serializeAs="String">
                <value>cfmanaus</value>
            </setting>
            <setting name="db_pass" serializeAs="String">
                <value>cfmanaus</value>
            </setting>
            <setting name="ambiente_api_porta" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="query_colecao_produtos" serializeAs="String">
                <value>select
	lpad( pcprodut.codprod , 6, '0') CODPROD, 
	pcprodut.descricao,
	pcprodut.embalagem,
	(select pcdepto.descricao from pcdepto where pcdepto.codepto =  pcprodut.codepto) categoria , 
      pcprodut.pesobruto,
               TRUNC((pcest.qtestger - ( pcest.qtreserv + pcest.qtbloqueada)) ,0)  estoque ,
	TRUNC(nvl( PCTABPR.pvenda,0),2)  PRECO,
	PCPRODUT.embalagem,
	pcprodut.nbm,
	PCPRODUT.codauxiliar ean,
	pcprodut.codauxiliar2 dun,
	case when  PCPRODUT.obs2 = 'FL' then 'D' ELSE 'A' END status,
	greatest(PCPRODUT.dtultalter, PCTABPR.dtultaltpvenda, PCEST.DTULTALTERSRVPRC) ULTIMA_MOVIMENTACAO 

from 
	pcprodut, pcest , PCTABPR
where
	PCEST.codprod = PCPRODUT.CODPROD
	AND PCPRODUT.codprod = PCTABPR.codprod
	AND PCEST.codfilial  IN (:CODFILIAL)
	AND PCPRODUT.CODEPTO IN  (12,14,40,70,71,55,42,64,63) /*DEPARTAMENTOS ELEGÍVEIS PARA VENDAS  (12,14,40,70,71,55,42,64,63)*/

	AND PCTABPR.numregiao IN(:REGIAO)

	AND greatest(PCPRODUT.dtultalter, PCTABPR.dtultaltpvenda, PCEST.DTULTALTERSRVPRC) &gt;= to_date(:DTULTALT,'dd/mm/yyyy hh24:mi:ss')
</value>
            </setting>
        </EuDiretoService.Properties.Settings>
    </userSettings>
</configuration>